#letter-input{
    max-width: 400px;
    width: 90%;
    margin-bottom: 10px;
    background-color: none;
    font-size: 30px;
    text-align: center;
    border: 3px solid white;
    color: #22303d;
    transition: background-color 0.2s;
}

#letter-input::placeholder{
    color: #22303d;
    font-weight: bold;
}

#letter-input:focus, #letter-input:hover{
    outline: 0;
    background-color: #bbbbbb;
}
