@import './sendButton.css';
@import './letterInput.css';
@import './modal.css';
@import './game/letter.css';
@import './game/mistakes.css';
@import './game/word.css';
@import './game/typedLetters.css';
@import './soundButton.css';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 25px;
}

