.mistakes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 50px;
    min-width: 100px;
    height: 30px;
}

.mistakes i{
    transition: color 0.3s;
    margin: 0 5px;
    color: #ff00003f;
}

.mistakes i.active{
    color:red;
}